
.btn.btn-info, a{
    color: #e8f6f3;
    background-color: #16a085;
    border-color: #16a085;
    font-size: 15px;

}

.btn.btn-info:hover{
    background-color: #1abc9c;
    color: #0b5345;
    border-color: #1abc9c;
    transition: all 0.5s ease-in-out;
    font-size: 15px;

}

table{
    margin-top: 20px;
}

.book-grid {  
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* create as many columns as will fit in the container */
    gap: 10px; /* Adjusts the space between items */
    margin: 20px;
}
