<div class="login" *ngIf="isLoginMode">
    <p class="sign" align="center">Bejelentkezés</p>
    <form class="form1" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <!-- <input class="un" type="text" align="center" placeholder="Felhasználónév" name="username" id="username" ngModel required minlength="5"> -->
        <input type="email" class="un" align="center" placeholder="E-mail" name="email" id="email" ngModel required email>
      <input class="pass" type="password" align="center" placeholder="Jelszó" name="password" id="password" ngModel required password minlength="6">
      <button type="submit" class="submit" align="center">Bejelentkezés</button>
      <p class="forgot" align="center"><a style="cursor: pointer;">Elfelejtett jelszó</a></p>
      <p class="forgot" align="center"><a (click)="onSwitchMode()" style="cursor: pointer;">Regisztráció</a></p>
      <p class="help-block" align="center">{{error}}</p>
    </form>
</div>

<div class="singup" *ngIf="!isLoginMode">
    <p class="sign" align="center">Regisztráció</p>
    <form class="form1" #signUpForm="ngForm" (ngSubmit)="onSubmit(signUpForm)">
      <!-- <input class="un" type="text" align="center" placeholder="Felhasználónév"> -->
      <input type="email" class="un" align="center"name="email" id="email"  placeholder="E-mail" required ngModel email>
      <input class="pass" type="password" align="center" name="password" id="password" placeholder="Jelszó" required ngModel password minlength="6">
      <input class="pass" type="password" align="center" name="password2" id="password2" placeholder="Jelszó megerősítése" required ngModel password minlength="6">
      <button type="submit" class="submit" align="center">Regisztráció</button>
      <p class="forgot" align="center"><a (click)="onSwitchMode()" style="cursor: pointer;">Már van fiókom, bejelentkezek</a></p>
      <p class="help-block" align="center">{{error}}</p>
    </form>
</div>

     
