    <nav class="navbar navbar-expand-lg sticky-top">
        <div class="container-fluid">
            <!-- <a class="navbar-brand" href="#">Főoldal</a> -->
            <a routerLink="/" class="navbar-brand">Főoldal</a>
            
            <a routerLink="favourites" class="nav-link" *ngIf="isAuthenticated">Kedvencek</a>
            
            <div class="moveRight">
                <div class="collaps navbar-collapse" id="navbarToggler">

                    <div class="search-box">
                        <button class="btn-search"><img src="https://img.icons8.com/?size=100&id=131&format=png&color=e8f6f3" alt="" class="img"></button>
                        <input type="text" class="input-search" placeholder="Type to Search...">
                    </div>
                    
                    <ul class="nav navbar-nav navbar-right">
                        <li routerLinkActive="active" class="nav-item" *ngIf="!isAuthenticated">
                            <a class="nav-link" routerLink="/auth" >Bejelentkezés</a>
                        </li>   
                        <li class="nav-item" *ngIf="isAuthenticated">
                            <a class="nav-link" (click)="onLogout()">Kijelentkezés</a>
                        </li>
                        <div class="animation start-home"></div>
                    </ul>
                </div>
            </div>
        </div>
    </nav>