.navbar{
    background-color: #16a085;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
  }
  
.nav-link, .navbar-brand{
    color: #e8f6f3;
  margin: 8px;
  /* color: #ccc; */
  text-transform: uppercase;
  font-weight: 600;
  transition: all 0.8s ease-in-out;
  position: relative;
}


.nav-link:hover, .navbar-brand:hover, .active{
    color: #0b5345;
}

.moveRight{
    margin-left: auto;
}



