@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

nav{
    background-color: #16a085;
    border-radius: 8px;
}

a{
  line-height: 20px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  /* text-transform: uppercase; */
  text-align: center;
  color: #e8f6f3;
  cursor: pointer;
  border-radius: 8px;
  font-family: 'Libre Baskerville', serif;
}

.navbar-brand{
  font-size: 20px;
  font-weight: bold;
  color: #e8f6f3;
  cursor: pointer;
  border-radius: 8px;
}


nav .nav-link:hover, .navbar-brand:hover, .active{
  /* width: 100px; */
  left: 0;
  background-color: #1abc9c;
  color: #0b5345;
  transition: all 0.8s ease-in-out;
  border-radius: 8px;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1030;
  }

.moveRight{
    margin-left: auto;
}



