<div
  style="cursor: pointer;"
  
  class="card">
  <img
    [src]="[book.imagePath]"
    alt="{{ book.title }}"
    class="img-responsive">
    <!-- style="max-height: 50px;"> -->

  <div class="container">
    <h4 class="title">{{ book.author }}: {{book.title}}</h4>
    <p class="price">{{book.price}} Ft</p>
    <p class="list-group-item-text description" [routerLink]="[index]"
    routerLinkActive="active">{{ book.description }}</p>
    <p>
      <button class="cart">Kosárba</button>
      <button class="detail">Részletek</button>
      <button class="favs"><img class="fav" src="https://img.icons8.com/?size=100&id=86&format=png&color=000000" alt=""></button>
    </p>
  </div>
</div>