<div
  class="card" >
  <img
    [src]="[book.imagePath]"
    alt="{{ book.title }}"
    class="img-responsive">

  <div class="container">
    <h4 class="title">{{ book.author }}: <br> {{book.title}}</h4>
    <p class="price">{{book.price}} Ft</p>
    <p class="list-group-item-text description">{{ book.description }}</p>
    <p class="buttons">
      <button class="cart" (click)="addToCart()">Kosárba</button>
      <button class="detail" (click)="openDialog(index)">Részletek</button>
      <button class="favs" *ngIf="!isFavorite" (click)="onFavorite()">&#9825;</button>
      <button class="favs" *ngIf="isFavorite" (click)="onFavorite()">&#9829;</button>
      <button class="dots"><img src="dots.png" class="dot"></button>
    </p>
  </div>
</div>