.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: auto;
    height:auto;
    margin: 10px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
img {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 250px;
}
  
 .container {
    padding: 2px 16px;
}

.fav, .dot{
    width: 20px;
    height: 20px;

}

.favs{
    background-color: transparent;
    width: 25px;
    height: 25px;
    border: none;
    font-size: 25px;
        

}

.dots{
    border:none;
    width: 10px;
    background-color: transparent;
}

.detail, .cart{
    cursor: pointer;
    border-radius: 6em;
    color: #fff;
    background: linear-gradient(to right, #0e6655, #45b39d);
    border: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    margin-left: auto;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);


}

.price{
    font-size: 20px;
    font-weight: bold;
    color: #0b5345;
}

.title{
    font-weight: bolder;
    /* color: #0b5345; */
}

.description{
    display: -webkit-box;
    -webkit-line-clamp: 2;  /* Number of lines to show */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(1.2em * 2);  /* Adjust this to match your line height and number of lines */
    line-height: 1.2em; 
    color:grey;
}

.buttons{
    position: relative;
}


